<div class="auth-container">
  <div class="row auth-main">
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <div class="left-img" style="background-image: url(assets/images/pages/cemedo4.jpg); width: 520px;height: 400px;margin:50px;">
      </div>
    </div>
    <div class="col-sm-6 auth-form-section">
      <div class="form-section">
        <div class="auth-wrapper">
          <h2 class="welcome-msg"> Bienvenue à Cemedo </h2>
          <!--
          <p class="auth-signup-text text-muted">Need an account?<a routerLink="/authentication/signup"
              class="sign-up-link">Sign Up
            </a></p> -->
          <div class="d-flex justify-content-between lbl-alert mb-3">
            <div>
              <button mat-raised-button color="primary" type="button" (click)="adminSet();">Admin</button>
            </div>
            <div>
              <button mat-raised-button color="accent" type="button" (click)="doctorSet();">Doctor</button>
            </div>
            <div>
              <button mat-raised-button color="warn" type="button" (click)="assuSet();">Assurance</button>
            </div>
            <div>
              <button mat-raised-button type="button" (click)="inforSet();">Informaticien</button>
            </div>
          </div>
       
          <!---->
          <div class="d-flex justify-content-between lbl-alert mb-3">
            <div>
              <button mat-raised-button type="button" (click)="comptSet();">Comptable</button>
            </div>
            <div>
              <button mat-raised-button color="primary" type="button" (click)="infirSet();">Infirmier</button>
            </div>
            <div>
              <button mat-raised-button color="warn" type="button" (click)="pharSet();">Pharmacien</button>
            </div>
            <div>
              <button mat-raised-button type="button" (click)="receptSet();">Reception</button>
            </div>
          </div>
          <!---->

          <h2 class="login-title">Se connecter</h2>
          <form class="validate-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Nom d'utilisateur</mat-label>
                  <input matInput formControlName="username" />
                  <mat-icon matSuffix>group</mat-icon>
                  <mat-error *ngIf="authForm.get('username').hasError('required')">
                   Le nom d'utilisateur est obligatoire
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Mot de passe</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                  <a class="show-pwd-icon" href="#" onClick="return false;" matSuffix (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </a>
                  <mat-error *ngIf="authForm.get('password').hasError('required')">
                    Le mot de passe est obligatoire
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-5">
              <a class="txt1" routerLink="/authentication/forgot-password">Mot de passe oublié?</a>
            </div>
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            <div class="container-auth-form-btn">
              <div style="text-align:center">
                <button mat-raised-button color="primary" [class.auth-spinner]="loading" [disabled]="loading"
                  class="auth-form-btn" [disabled]="!authForm.valid " type="submit">Login</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
