<h2 mat-dialog-title>nouveau medecin</h2>
<mat-dialog-content class="mat-typography e">
    <div class="container">

        <form [formGroup]="MedecinForms">
            <div class="row mt-5">
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="mb-3">
                        <input type="text" class="form-control"
                            formControlName="nom" placeholder="Nom">
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="mb-3">
                        <input type="text" class="form-control"
                            formControlName="prenoms" placeholder="Prénom"
                            >
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="mb-3">
                        <input type="text" class="form-control"
                            formControlName="login" placeholder="Nom d'utilisateur"
                            >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="mb-3">
                        <input type="text" class="form-control" formControlName="genre"
                            placeholder="Genre"
                           >
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="mb-3">
                        <input type="date" class="form-control" formControlName="dateNaissance"
                            placeholder="Date de Naissance">
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="mb-3">
                        <input type="email" class="form-control" formControlName="email"
                            placeholder="E-mail">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="mb-3">
                        <input type="text" class="form-control" formControlName="tel"
                            placeholder="Téléphone 1"
                           >
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="mb-3">
                        <input type="text" class="form-control" formControlName="tel2"
                            placeholder="Téléphone 2">
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <div class="mb-3">
                        <input type="password" class="form-control" formControlName="password"
                            placeholder="Mot de passe">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 col-lg-2 col-sm-12">
                    <button mat-raised-button color="primary" (click)="SaveData()"
                        [disabled]="!MedecinForms.valid">Enregistrer
                        <mat-icon>done</mat-icon>
                    </button>
                </div>
            </div>
        </form>
    </div>
</mat-dialog-content>