<section class="content">
  <div class="content-block">
    <div class="block-header">
      <br>
      <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
      <br>
      
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
      
          <div class="body">
          
            
            <!-- Assurance -->

            <p-toolbar styleClass="mb-4">
              <ng-template pTemplate="left">
                  <button pButton pRipple label="Nouveau" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()" ></button>
                  &nbsp; <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedEntity || !selectedEntity.length"></button>
              </ng-template>
      
              <ng-template pTemplate="right">
                <button pButton pRipple label="Imprimer" icon="pi pi-upload" class="p-button-help btn-view"></button>
                </ng-template>
          </p-toolbar>
          <p-table #dt 
          [value]="liste"
          [lazy]="true" 
          (onLazyLoad)="loadCustomers($event)" dataKey="id" 
          [selection]="selectedEntity" 
          (selectionChange)="onSelectionChange($event)" 
          [selectAll]="selectAll" 
          styleClass="p-datatable-gridlines"
          (selectAllChange)="onSelectAllChange($event)"
          [paginator]="true"
           [rows]="7" 
           [totalRecords]="totalRecords"
           [showCurrentPageReport]="true"
            [loading]="loading" 
            [rowsPerPageOptions]="[7,totalRecords*2,totalRecords*3]" 
            currentPageReportTemplate="Affichage de {first} à {last} sur  {totalRecords} entrées"
              >
             
              <ng-template pTemplate="header">
                  <tr>
                      <th style="width: 3rem">
                          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                      </th>
                 
                      <!--<th pResizableColumn pSortableColumn="id">id <p-sortIcon field="id"></p-sortIcon></th>-->
                      <th pResizableColumn pSortableColumn="nom">Nom <p-sortIcon field="nom"></p-sortIcon></th>
                      <th pResizableColumn pSortableColumn="prenoms">Prenoms <p-sortIcon field="prenoms"></p-sortIcon></th>
                      <th pResizableColumn pSortableColumn="tel">libelle <p-sortIcon field="tel"></p-sortIcon></th>
                      <th pResizableColumn pSortableColumn="email">libelle <p-sortIcon field="email"></p-sortIcon></th>
                  
                      <th pResizableColumn>Actions</th>
                  </tr>
                  <tr>
                      <th style="width: 3rem">
                          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                      </th>
                     <!-- <th>
                          <p-columnFilter type="text" field="id"></p-columnFilter>
                      </th>-->
                      
                      <th>
                          <p-columnFilter type="text" field="user.nom"></p-columnFilter>
                      </th>
                      <th>
                        <p-columnFilter type="text" field="user.prenoms"></p-columnFilter>
                    </th>
                    <th>
                      <p-columnFilter type="text" field="user.tel"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="text" field="user.email"></p-columnFilter>
                    
                </th>
                      <th></th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-element>
                  <tr [pSelectableRow]="element">
                      <td>
                          <p-tableCheckbox [value]="element"></p-tableCheckbox>
                      </td>
                      <!--<td>{{element.id}}</td>-->
                      
                      <td>{{element.user.nom}}</td>
                      <td>{{element.user.prenoms}}</td>
                      <td>{{element.user.tel}}</td>
                      <td>{{element.user.email}}</td>
                      <td width="200px">
                        <button pButton pRipple icon="pi pi-pencil" class="p-button p-button-success  btn-sm btn-edit" (click)="editProduct(element)" ></button> &nbsp;
                        <button pButton pRipple icon="pi pi-check" class="p-button p-button-help btn-sm btn-view" (click)="deleteProduct(element)"  ></button>&nbsp;
                        <button pButton pRipple icon="pi pi-trash" class="p-button p-button-warning btn-sm btn-delete" (click)="deleteProduct(element)"  ></button>
                      </td>
                  </tr>
              </ng-template>
              <ng-template pTemplate="summary">
                  <div class="flex align-items-center justify-content-between">
                      Au total il y a  {{liste ? liste.length : 0 }} enregistrement(s).
                  </div>
              </ng-template>
          </p-table>
      
          </div>
        </div>
        <p-dialog [(visible)]="entityDialog" [style]="{'width': '750px', 'margin-top': '-90px'}"  header="Gerant" [modal]="true" styleClass="p-fluid el">
          <ng-template pTemplate="content">
          <br>
          
          

        <div class="row">
          <div class="col-md-6">
  
            <div class="field">
              <label for="name">Nom</label>
              <input type="text" pInputText id="nom" [(ngModel)]="specialite.user.nom" required autofocus />
              <small class="p-error" *ngIf="submitted && !specialite.user.nom">Nom est requis.</small>
          </div>
          
          </div>
          <div class="col-md-6">
  
            <div class="field">
              <label for="name">Prenoms</label>
              <input type="text" pInputText id="nom" [(ngModel)]="specialite.user.prenoms" required autofocus />
              <small class="p-error" *ngIf="submitted && !specialite.user.prenoms">Prenom est requis.</small>
          </div>
          </div>
        </div>    
         <div class="row">
          <div class="col-md-6">
  
            <div class="field">
              <label for="dateNaissance">Date naissance</label>
              <p-calendar id="dateNaissance" [(ngModel)]="specialite.user.dateNaissance" dateFormat="yy-mm-dd"></p-calendar>
             
              <small class="p-error" *ngIf="submitted && !specialite.user.dateNaissance">Date naissance est requis.</small>
          </div>
          
          </div>
          <div class="col-md-6">
  
            <div class="field">
              <label for="name">Email</label>
              <input type="text" pInputText id="email" [(ngModel)]="specialite.user.email" required autofocus />
              <small class="p-error" *ngIf="submitted && !specialite.user.email">Email est requis.</small>
          </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
  
            <div class="field">
              <label for="genre">Genre</label>
                <p-dropdown *ngIf="specialite.id" [options]="liste_genre" [(ngModel)]="specialite.user.genre" optionLabel="libelle" [filter]="true" filterBy="libelle"
                    [showClear]="true" placeholder="Selectionner un genre">
                    <ng-template pTemplate="specialite.user.genre">
                      <div class="genre-id genre-id" *ngIf="specialite.genre">
                        <div>{{specialite.genre}}</div>
                      </div>
                    </ng-template>
                    <ng-template let-genre pTemplate="id">
                      <div class="genre-id">
                        <div>{{genre.libelle}}</div>
                      </div>
                    </ng-template>
                </p-dropdown>
                <p-dropdown *ngIf="!specialite.id" [options]="liste_genre" [(ngModel)]="specialite.genre" optionLabel="libelle" [filter]="true" filterBy="libelle"
                [showClear]="true" placeholder="Selectionner un genre">
                  <ng-template pTemplate="specialite.genre">
                    <div class="genre-id genre-id" *ngIf="specialite.genre">
                      <div>{{specialite.genre}}</div>
                    </div>
                  </ng-template>
                  <ng-template let-genre pTemplate="id">
                    <div class="genre-id">
                      <div>{{genre.libelle}}</div>
                    </div>
                  </ng-template>
              </p-dropdown>
          </div>
          </div>
          <div class="col-md-6">
  
            <div class="field">
              <label for="name">TypeEmploye</label>
              <p-dropdown [options]="liste_typeEmploye" [(ngModel)]="specialite.typeEmploye" optionLabel="libelle" [filter]="true" filterBy="libelle"
              [showClear]="true" placeholder="Selectionner un typeEmploye">
              <ng-template pTemplate="specialite.typeEmploye">
                <div class="typeEmploye-id typeEmploye-id" *ngIf="specialite.typeEmploye">
                  <div>{{specialite.typeEmploye}}</div>
                </div>
              </ng-template>
              <ng-template let-typeEmploye pTemplate="id">
                <div class="typeEmploye-id">
                  <div>{{typeEmploye.libelle}}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
        </div>
        </div>
        <div class="row">
          <div class="col-md-6">
  
            <div class="field">
              <label for="name">Telephone</label>
              <input type="text" pInputText id="tel" [(ngModel)]="specialite.user.tel" required autofocus />
              <small class="p-error" *ngIf="submitted && !specialite.user.tel">Telephone est requis.</small>
          </div>
          
          </div>
          <div class="col-md-6">
  
            <div class="field">
              <label for="name">Telephone 2</label>
              <input type="text" pInputText id="tel2" [(ngModel)]="specialite.user.tel2" required autofocus />
              <small class="p-error" *ngIf="submitted && !specialite.user.tel2">Telephone 2 est requis.</small>
          </div>
          </div>
        </div>
        
<div class="row">
  <div class="col-md-6">
    <div class="field">
      <label for="name">Login</label>
      <input type="text" pInputText id="login" [(ngModel)]="specialite.user.login" required autofocus />
      <small class="p-error" *ngIf="submitted && !specialite.user.login">Login est requis.</small>
  </div>
  </div>
  <div class="col-md-6">
    <div class="field">
      <label for="name">Password</label>
      <p-password [(ngModel)]="specialite.user.password" [toggleMask]="true"></p-password>
      <small class="p-error" *ngIf="submitted && !specialite.user.password">Password est requis.</small>
  </div>
  </div>
</div>
      
        <hr>
          </ng-template>
    
          <ng-template pTemplate="footer">
              <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button p-button-help " (click)="hideDialog()"></button>
              <button pButton pRipple label="Valider" icon="pi pi-check" class="p-button-success " (click)="saveProduct()" ></button>
          </ng-template>
      </p-dialog>

      <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
      <p-toast></p-toast>
      </div>
    </div>
  </div>
</section>



