<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Factures'" [items]="[]" [active_item]="'facture'"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="body">
            <!---->
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="info-box7 l-bg-card1 order-info-box7">
                      <div class="info-box7-block">
                        <h2 class="text-end"><i class="fas fa-user-injured float-start"></i></h2>
                        <p class="m-b-0 d-flex"><i class="material-icons col-green pr-2">trending_up</i>Revenu Total: 37
                          000
                          000 FCFA
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="info-box7 l-bg-card2 order-info-box7">
                      <div class="info-box7-block">
                        <p class="m-b-15">Consultations</p>
                        <h2 class="text-end"><i class="far fa-calendar-check float-start"></i><span>650</span></h2>
                        <p class="m-b-0 d-flex"><i class="material-icons col-orange pr-2">trending_down</i>Coût : 20 000
                          000
                          FCFA
                        </p>
                        <p class="font-weight-bold float-end mb-0">Prix unitaire : 30 770 fcfa</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6  col-md-6 col-sm-6">
                    <div class="info-box7 l-bg-card3 order-info-box7">
                      <div class="info-box7-block">
                        <p class="m-b-15">Appel Vidéo</p>
                        <h2 class="text-end"><i class="fas fa-cut float-start"></i><span>30</span></h2>
                        <p class="m-b-0 d-flex"><i class="material-icons col-orange pr-2">trending_down</i>Coût : 27 000
                          000
                          FCFA
                        </p>
                        <p class="font-weight-bold float-end mb-0">Prix unitaire : 40 770 fcfa</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card card-statistic-2">
                  <div class="clearfix">

                    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                      [dataLabels]="chartOptions.dataLabels" [plotOptions]="chartOptions.plotOptions"
                      [responsive]="chartOptions.responsive" [xaxis]="chartOptions.xaxis"
                      [tooltip]="chartOptions.tooltip" [legend]="chartOptions.legend" [fill]="chartOptions.fill">
                    </apx-chart>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="info-box7 l-bg-card4 order-info-box7">
                  <div class="info-box7-block">
                    <p class="m-b-15">Chats</p>
                    <h2 class="text-end"><i class="fab fa-internet-explorer float-start"></i><span>8875</span></h2>
                    <p class="m-b-0 d-flex"><i class="material-icons col-green pr-2">trending_up</i>Coût : 10 000 000
                      FCFA
                    </p>
                    <p class="font-weight-bold float-end mb-0">Prix unitaire : 1 127 fcfa</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="info-box7 l-bg-card1 order-info-box7">
                  <div class="info-box7-block">
                    <p class="m-b-15">Appel Téléphonique</p>
                    <h2 class="text-end"><i class="fas fa-user-injured float-start"></i><span>945</span></h2>
                    <p class="m-b-0 d-flex"><i class="material-icons col-green pr-2">trending_up</i>Coût : 7 000 000
                      FCFA
                    </p>
                    <p class="font-weight-bold float-end mb-0">Prix unitaire : 7 407 fcfa</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                  <div class="body">
                    <div class="row">
                      <div class="col-md-12 col-xl-12">
                        <div class="row">
                          <div class="col-md-4">
                            <h5 class="tx-primary m-b-30">Services</h5>
                            <div class="progress-list m-b-10">
                              <div class="details">
                                <div class="title">Consultation</div>
                              </div>
                              <div class="status">
                                <span>6.3</span>%
                              </div>
                              <div class="progress-xs not-rounded progress">
                                <div class="progress-bar progress-bar-warning width-per-40" role="progressbar"
                                  aria-valuenow="6.3" aria-valuemax="100">
                                  <span class="sr-only">6.3%</span>
                                </div>
                              </div>
                            </div>
                            <div class="progress-list m-b-10">
                              <div class="details">
                                <div class="title">Appel Téléphonique</div>
                              </div>
                              <div class="status">
                                <span>9</span>%
                              </div>
                              <div class="progress-xs not-rounded progress">
                                <div class="progress-bar progress-bar-danger width-per-49" role="progressbar"
                                  aria-valuenow="9" aria-valuemax="100">
                                  <span class="sr-only">9%</span>
                                </div>
                              </div>
                            </div>
                            <div class="progress-list m-b-10">
                              <div class="details">
                                <div class="title">Chats</div>
                              </div>
                              <div class="status">
                                <span>84.7</span>%
                              </div>
                              <div class="progress-xs not-rounded progress">
                                <div class="progress-bar progress-bar-blue width-per-65" role="progressbar"
                                  aria-valuenow="84.7" aria-valuemax="100">
                                  <span class="sr-only">84.7%</span>
                                </div>
                              </div>
                            </div>
                            <div class="progress-list m-b-10">
                              <div class="details">
                                <div class="title">Examen</div>
                              </div>
                              <div class="status">
                                <span>25</span>%
                              </div>
                              <div class="progress-xs not-rounded progress">
                                <div class="progress-bar progress-bar-success width-per-28" role="progressbar"
                                  aria-valuenow="28" aria-valuemin="0" aria-valuemax="100">
                                  <span class="sr-only">25%</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 mt-3">
                            <!-- chart [chartType]="doughnutChartType"-->
                            <div class="recent-report__chart">
                              <canvas baseChart class="chart" [data]="doughnutChartData" [labels]="doughnutChartLabels"
                                [options]="doughnutChartOptions" [legend]="doughnutChartLegend" chartType="doughnut"
                                [colors]="doughnutChartColors"></canvas>
                            </div>
                          </div>
                          <div class="col-md-4 mt-3">
                            <div class="country-chart">
                              <div class="d-flex justify-content-between mx-xl-5 mt-3">
                                <div class="chart-note">
                                  <span class="dot dot-product bg-green"></span>
                                  <span>Chat</span>
                                </div>
                                <p class="mb-0">10 000 000 FCFA</p>
                              </div>
                              <div class="d-flex justify-content-between mx-xl-5 mt-3">
                                <div class="chart-note">
                                  <span class="dot dot-product bg-orange"></span>
                                  <span>Appel Téléphonique</span>
                                </div>
                                <p class="mb-0">7 000 000 FCFA</p>
                              </div>
                              <div class="d-flex justify-content-between mx-xl-5 mt-3">
                                <div class="chart-note">
                                  <span class="dot dot-product bg-purple"></span>
                                  <span>Consultation</span>
                                </div>
                                <p class="mb-0">20 000 000 FCFA</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row clearfix">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                  <div class="body">
                    <mat-tab-group dynamicHeight>
                      <mat-tab label="Consultations">
                        <ul class="list-unstyled list-unstyled-border list-unstyled-noborder">
                          <li class="app-list">
                            <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig1.jpg">
                            <div class="set-flex">
                              <div class="media-title font-16">Dr.Cara Stevens</div>
                              <div class="text-job text-muted mb-0">Radiologist</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title font-16">12 June '20</div>
                              <div class="text-job text-muted mb-0">09:00-10:00</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Treatement</div>
                              <div class="text-job font-16">CT scans</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Contact Number</div>
                              <div class="text-job font-16">+123 676545655</div>
                            </div>
                          </li>
                          <li class="app-list">
                            <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig2.jpg">
                            <div class="set-flex">
                              <div class="media-title font-16">Dr.John Doe</div>
                              <div class="text-job text-muted mb-0">Cardiologist</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title font-16">13 June '20</div>
                              <div class="text-job text-muted mb-0">11:00-11:30</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Treatement</div>
                              <div class="text-job font-16">heart checkup</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Contact Number</div>
                              <div class="text-job font-16">+123 434656764</div>
                            </div>
                          </li>
                          <li class="app-list">
                            <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig3.jpg">
                            <div class="set-flex">
                              <div class="media-title font-16">Dr.Airi Satou</div>
                              <div class="text-job text-muted mb-0">Otolaryngologist</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title font-16">12 June '20</div>
                              <div class="text-job text-muted mb-0">09:15-10:15 </div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Treatement</div>
                              <div class="text-job font-16">Diseases Of The Ear</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Contact Number</div>
                              <div class="text-job font-16">+123 45345673</div>
                            </div>
                          </li>
                          <li class="app-list">
                            <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig4.jpg">
                            <div class="set-flex">
                              <div class="media-title font-16">Dr.Angelica Ramos</div>
                              <div class="text-job text-muted mb-0">Dentist</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title font-16">12 June '20</div>
                              <div class="text-job text-muted mb-0">11:00-12:00</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Treatement</div>
                              <div class="text-job font-16">Root Canal</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Contact Number</div>
                              <div class="text-job font-16">+123 87654533</div>
                            </div>
                          </li>
                          <li class="app-list">
                            <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig6.jpg">
                            <div class="set-flex">
                              <div class="media-title font-16">Dr.Jens Brincker</div>
                              <div class="text-job text-muted mb-0">Endocrinologist</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title font-16">23 June '20</div>
                              <div class="text-job text-muted mb-0">04:00-05:00</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Treatement</div>
                              <div class="text-job font-16">Diabetes</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Contact Number</div>
                              <div class="text-job font-16">+123 45678345</div>
                            </div>
                          </li>
                          <li class="app-list">
                            <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig7.jpg">
                            <div class="set-flex">
                              <div class="media-title font-16">Dr.Airi Satou</div>
                              <div class="text-job text-muted mb-0">Otolaryngologist</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title font-16">12 June '20</div>
                              <div class="text-job text-muted mb-0">09:15-10:15 </div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Treatement</div>
                              <div class="text-job font-16">Diseases Of The Ear</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Contact Number</div>
                              <div class="text-job font-16">+123 45345673</div>
                            </div>
                          </li>
                        </ul>
                      </mat-tab>
                      <mat-tab label="Chats">
                        <ul class="list-unstyled list-unstyled-border list-unstyled-noborder">
                          <li class="app-list">
                            <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig1.jpg">
                            <div class="set-flex">
                              <div class="media-title font-16">Dr.Cara Stevens</div>
                              <div class="text-job text-muted mb-0">Radiologist</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title font-16">12 June '20</div>
                              <div class="text-job text-muted mb-0">09:00-10:00</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Treatement</div>
                              <div class="text-job font-16">CT scans</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Contact Number</div>
                              <div class="text-job font-16">+123 676545655</div>
                            </div>
                          </li>
                          <li class="app-list">
                            <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig2.jpg">
                            <div class="set-flex">
                              <div class="media-title font-16">Dr.John Doe</div>
                              <div class="text-job text-muted mb-0">Cardiologist</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title font-16">13 June '20</div>
                              <div class="text-job text-muted mb-0">11:00-11:30</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Treatement</div>
                              <div class="text-job font-16">heart checkup</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Contact Number</div>
                              <div class="text-job font-16">+123 434656764</div>
                            </div>
                          </li>
                          <li class="app-list">
                            <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig3.jpg">
                            <div class="set-flex">
                              <div class="media-title font-16">Dr.Airi Satou</div>
                              <div class="text-job text-muted mb-0">Otolaryngologist</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title font-16">12 June '20</div>
                              <div class="text-job text-muted mb-0">09:15-10:15 </div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Treatement</div>
                              <div class="text-job font-16">Diseases Of The Ear</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Contact Number</div>
                              <div class="text-job font-16">+123 45345673</div>
                            </div>
                          </li>
                          <li class="app-list">
                            <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig4.jpg">
                            <div class="set-flex">
                              <div class="media-title font-16">Dr.Angelica Ramos</div>
                              <div class="text-job text-muted mb-0">Dentist</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title font-16">12 June '20</div>
                              <div class="text-job text-muted mb-0">11:00-12:00</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Treatement</div>
                              <div class="text-job font-16">Root Canal</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Contact Number</div>
                              <div class="text-job font-16">+123 87654533</div>
                            </div>
                          </li>
                          <li class="app-list">
                            <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig6.jpg">
                            <div class="set-flex">
                              <div class="media-title font-16">Dr.Jens Brincker</div>
                              <div class="text-job text-muted mb-0">Endocrinologist</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title font-16">23 June '20</div>
                              <div class="text-job text-muted mb-0">04:00-05:00</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Treatement</div>
                              <div class="text-job font-16">Diabetes</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Contact Number</div>
                              <div class="text-job font-16">+123 45678345</div>
                            </div>
                          </li>
                          <li class="app-list">
                            <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig7.jpg">
                            <div class="set-flex">
                              <div class="media-title font-16">Dr.Airi Satou</div>
                              <div class="text-job text-muted mb-0">Otolaryngologist</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title font-16">12 June '20</div>
                              <div class="text-job text-muted mb-0">09:15-10:15 </div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Treatement</div>
                              <div class="text-job font-16">Diseases Of The Ear</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Contact Number</div>
                              <div class="text-job font-16">+123 45345673</div>
                            </div>
                          </li>
                        </ul>
                      </mat-tab>
                      <mat-tab label="Appel Téléphonique">
                        <ul class="list-unstyled user-progress list-unstyled-border list-unstyled-noborder">
                          <li class="app-list">
                            <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig7.jpg">
                            <div class="set-flex">
                              <div class="media-title font-16">Dr.Jens Brincker</div>
                              <div class="text-job text-muted mb-0">Endocrinologist</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title font-16">23 June '20</div>
                              <div class="text-job text-muted mb-0">04:00-05:00</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Treatement</div>
                              <div class="text-job font-16">Diabetes</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Contact Number</div>
                              <div class="text-job font-16">+123 45678345</div>
                            </div>
                          </li>
                          <li class="app-list">
                            <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig6.jpg">
                            <div class="set-flex">
                              <div class="media-title font-16">Dr.John Doe</div>
                              <div class="text-job text-muted mb-0">Cardiologist</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title font-16">13 June '20</div>
                              <div class="text-job text-muted mb-0">11:00-11:30</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Treatement</div>
                              <div class="text-job font-16">heart checkup</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Contact Number</div>
                              <div class="text-job font-16">+123 434656764</div>
                            </div>
                          </li>
                          <li class="app-list">
                            <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig8.jpg">
                            <div class="set-flex">
                              <div class="media-title font-16">Dr.Cara Stevens</div>
                              <div class="text-job text-muted mb-0">Radiologist</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title font-16">12 June '20</div>
                              <div class="text-job text-muted mb-0">09:00-10:00</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Treatement</div>
                              <div class="text-job font-16">CT scans</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Contact Number</div>
                              <div class="text-job font-16">+123 676545655</div>
                            </div>
                          </li>
                          <li class="app-list">
                            <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig9.jpg">
                            <div class="set-flex">
                              <div class="media-title font-16">Dr.Airi Satou</div>
                              <div class="text-job text-muted mb-0">Otolaryngologist</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title font-16">12 June '20</div>
                              <div class="text-job text-muted mb-0">09:15-10:15 </div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Treatement</div>
                              <div class="text-job font-16">Diseases Of The Ear</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Contact Number</div>
                              <div class="text-job font-16">+123 45345673</div>
                            </div>
                          </li>
                          <li class="app-list">
                            <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig5.jpg">
                            <div class="set-flex">
                              <div class="media-title font-16">Dr.Angelica Ramos</div>
                              <div class="text-job text-muted mb-0">Dentist</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title font-16">12 June '20</div>
                              <div class="text-job text-muted mb-0">11:00-12:00</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Treatement</div>
                              <div class="text-job font-16">Root Canal</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Contact Number</div>
                              <div class="text-job font-16">+123 87654533</div>
                            </div>
                          </li>
                          <li class="app-list">
                            <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig10.jpg">
                            <div class="set-flex">
                              <div class="media-title font-16">Dr.John Doe</div>
                              <div class="text-job text-muted mb-0">Cardiologist</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title font-16">13 June '20</div>
                              <div class="text-job text-muted mb-0">11:00-11:30</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Treatement</div>
                              <div class="text-job font-16">heart checkup</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Contact Number</div>
                              <div class="text-job font-16">+123 434656764</div>
                            </div>
                          </li>
                        </ul>
                      </mat-tab>
                      <mat-tab label="Appel Vidéo">
                        <ul class="list-unstyled user-progress list-unstyled-border list-unstyled-noborder">
                          <li class="app-list">
                            <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig7.jpg">
                            <div class="set-flex">
                              <div class="media-title font-16">Dr.Jens Brincker</div>
                              <div class="text-job text-muted mb-0">Endocrinologist</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title font-16">23 June '20</div>
                              <div class="text-job text-muted mb-0">04:00-05:00</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Treatement</div>
                              <div class="text-job font-16">Diabetes</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Contact Number</div>
                              <div class="text-job font-16">+123 45678345</div>
                            </div>
                          </li>
                          <li class="app-list">
                            <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig6.jpg">
                            <div class="set-flex">
                              <div class="media-title font-16">Dr.John Doe</div>
                              <div class="text-job text-muted mb-0">Cardiologist</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title font-16">13 June '20</div>
                              <div class="text-job text-muted mb-0">11:00-11:30</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Treatement</div>
                              <div class="text-job font-16">heart checkup</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Contact Number</div>
                              <div class="text-job font-16">+123 434656764</div>
                            </div>
                          </li>
                          <li class="app-list">
                            <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig8.jpg">
                            <div class="set-flex">
                              <div class="media-title font-16">Dr.Cara Stevens</div>
                              <div class="text-job text-muted mb-0">Radiologist</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title font-16">12 June '20</div>
                              <div class="text-job text-muted mb-0">09:00-10:00</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Treatement</div>
                              <div class="text-job font-16">CT scans</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Contact Number</div>
                              <div class="text-job font-16">+123 676545655</div>
                            </div>
                            <div class="media-cta">
                            </div>
                          </li>
                          <li class="app-list">
                            <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig9.jpg">
                            <div class="set-flex">
                              <div class="media-title font-16">Dr.Airi Satou</div>
                              <div class="text-job text-muted mb-0">Otolaryngologist</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title font-16">12 June '20</div>
                              <div class="text-job text-muted mb-0">09:15-10:15 </div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Treatement</div>
                              <div class="text-job font-16">Diseases Of The Ear</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Contact Number</div>
                              <div class="text-job font-16">+123 45345673</div>
                            </div>
                          </li>
                          <li class="app-list">
                            <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig5.jpg">
                            <div class="set-flex">
                              <div class="media-title font-16">Dr.Angelica Ramos</div>
                              <div class="text-job text-muted mb-0">Dentist</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title font-16">12 June '20</div>
                              <div class="text-job text-muted mb-0">11:00-12:00</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Treatement</div>
                              <div class="text-job font-16">Root Canal</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Contact Number</div>
                              <div class="text-job font-16">+123 87654533</div>
                            </div>
                          </li>
                          <li class="app-list">
                            <img alt="image" class="rounded-circle" width="40" src="assets/images/user/usrbig10.jpg">
                            <div class="set-flex">
                              <div class="media-title font-16">Dr.John Doe</div>
                              <div class="text-job text-muted mb-0">Cardiologist</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title font-16">13 June '20</div>
                              <div class="text-job text-muted mb-0">11:00-11:30</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Treatement</div>
                              <div class="text-job font-16">heart checkup</div>
                            </div>
                            <div class="set-flex">
                              <div class="media-title text-muted mb-0">Contact Number</div>
                              <div class="text-job font-16">+123 434656764</div>
                            </div>
                          </li>
                        </ul>
                      </mat-tab>
                    </mat-tab-group>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>